
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
        <!-- card profile -->
        <div class="card">
            <div class="card-body">
               
                <div class="text-center">
                    <h2 class="font-24 mb-0">List of User Who Has Not Filled Standup Today</h2>
                </div>
            </div>
            
            <div class="card-body border-top">
                <div class="">
                    <ul class="mb-0 list-unstyled">
                        <li class="mb-1"><a href="#"><i class="fab mr-1 facebook-color"></i> Anil Chhetri </a></li>
                        <li class="mb-1"><a href="#"><i class="fab mr-1 facebook-color"></i> Atut Gorkhali </a></li>
                        <li class="mb-1"><a href="#"><i class="fab mr-1 facebook-color"></i> Mahesh Sunuwar </a></li>
                        <li class="mb-1"><a href="#"><i class="fab mr-1 facebook-color"></i> Manjil Amatya</a></li>
                    </ul>
                </div>
            </div>
           
        </div>
        <!-- ============================================================== -->
        <!-- end card profile -->
        <!-- ============================================================== -->
    </div>
    
</div>