@model WorkViewModel



<div class="row">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Add New Standup</h5>
            <div class="card-body">
                <div class="tab-regular">
                    <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" id="profile-tab-justify" data-toggle="tab" href="#profile-justify" role="tab" aria-controls="profile" aria-selected="false">
                                Today's Work
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab-justify" data-toggle="tab" href="#contact-justify" role="tab" aria-controls="contact" aria-selected="false">
                                Obstacles
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent7">
                        <div class="tab-pane fade show active" id="profile-justify" role="tabpanel" aria-labelledby="profile-tab-justify">
                            @await Component.InvokeAsync("Work", new { viewName = "form"})
                            <div>
                                @await Component.InvokeAsync("Work", new { viewName = "today" })
                            </div>
                        </div>

                        <div class="tab-pane fade" id="contact-justify" role="tabpanel" aria-labelledby="contact-tab-justify">
                            @await Component.InvokeAsync("Obstacle", new { viewName = "form" })
                            <div>
                                @await Component.InvokeAsync("Obstacle", new { viewName = "today" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>